footer {
  background: $blue;
  color: #fff;
  padding-bottom: 20px;
  .site-info {
    padding: 50px 15px;
    @include md {
      padding: 150px 15px;
    }

    &__brand {
      img {
        margin-bottom: 40px;
      }
    }
    h4 {
      margin-bottom: 50px;
      font-size: 19px;
      letter-spacing: 1px;
    }
    &__form {
      input, textarea {
        color: #fff;
      }
      .your-name {
        input {
          padding-right: 35px;
          background: url(images/profile_icon.svg) no-repeat 95% 50%;
        }
      }
      .your-email {
        input {
          padding-right: 35px;
          background: url(images/email_icon.svg) no-repeat 95% 50%;
        }
      }
      ::placeholder {
        color: #fff;
      }
      .btn {
        padding: 10px;
        width: 100%;
        font-family: $font__heading;
        color: #0575C7;
        font-weight: 600;
        text-transform: uppercase;
        transition: .5s;
        border: 1px solid #fff;
        &:hover {
          background: #0575C7;
          color: #fff;
        }
      }
    }
    &__contact {
      a {
        color: #fff;
      }
      img {
        margin-right: 15px;
      }
    }
  }

  .site-sig {
    font-size: 14px;
    span {
      margin-left: 20px;
    }
    ul.footer-nav {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        @include md {
          display: inline-block;
        }
        padding: 0 15px;
        border-right: 1px solid #00BCD4;
        &:last-of-type {
          border-right: none;
        }
      }
    }
    &__social {
      text-align: right;
      ul {
        line-height: none;
        li {
          display: inline-block;
          padding: 0 5px;
        }
      }
    }
  }
  a {
    color: #00BCD4;
    &:hover {
      color: #C3D600;
    }
  }
}
