#bxslider {
  .bx-pager-item {
    letter-spacing: 5px;
    padding-left: 10px;
  }
  .scroll {
    position: absolute;
    bottom: 35px;
    left: 0;
    right: 0;
    margin-left: 50%;
    margin-right: 50%;
  }
}
.slide {
  position: relative;
  text-align: left;
  color: #fff;
  max-height: 100vh;
  overflow: hidden;

  .vert-align {
    position: absolute;
    top: 50%;
    width: calc(100% - 30px);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
	}

  h1 {
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    text-transform: uppercase;
    font-size: 32px;
    margin: 15px 25px 5px 25px;
    padding-bottom: 10px;
    letter-spacing: 2px;
    @include sm {
      font-size: 48px;
      margin: 15px 50px 30px 50px;
      padding-bottom: 20px;
    }
    @include md {
      font-size: 64px;
      margin: 0 0 30px 0;
    }
  }
  p {
    display: none;
    @include md {
      display: block;
    }
    width: 70%;
    line-height: 1.8em;
    margin-bottom: 50px;
  }
  a {
    &:first-of-type {
      background: #fff;
      color: #08A1FE;
      display: inline-block;
      margin: 10px 25px 30px 25px;
      @include sm {
        margin: 0 15px 0 50px;
      }
      @include md {
        margin: 0 15px 0 0;
      }
      &:hover {
        background: $blue;
      }
    }
    font-size: 10px;
    font-family: $font__heading;
    border: 2px solid #fff;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 10px;
    @include sm {
      font-size: 14px;
    }
    @include md {
      margin: 0 15px 0 0;
      padding: 15px 25px;
      font-size: 16px;
    }
    &:hover {
      background: #08A1FE;
      color: #fff;
    }
  }
  img {
    width: 100%;
  }
}
